:root {
  --navbar-bg-color: #ffffff;
}

.App {
  width: 300px;
  height: 100vh;
  border: 2px solid #822dc1;
  border-radius: 20px;
  padding: 20px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
